<style>
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vw;
  margin-left: 7vw;
}
.input {
  color: rgb(152, 157, 163);
  width: 20vw;
  height: 3vw;
  border: 0.3px rgb(152, 157, 163) solid;
  padding: 0.5vw;
  font-size: 1.3vw;
}

.login {
  width: 21.1vw;
  height: 3vw;
  border: 0;
  border-radius: 5px;
  background-color: #3778c2;
  text-align: center;
  font-size: 1vw;
  color: #f0f0f0;
  margin-bottom: 1vw;
  cursor: pointer;
}
</style>

<div class="form-container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Log In", class: "login" %>
  </div>
  <% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, class: "login", method: :delete %>
<% end %>

  <% end %>

<%= render "devise/shared/links" %>
</div>