<div class="user-page">
<h1>All Categories</h1>
  <ul class="users-list">
    <% @categories.each do |category| %>
      <li class="user-info">
        <div class="image">
          <img src="<%= category.icon %>" alt="<%= category.name %>">
        </div>
        <div class="name">
          <h3 class="username"><%= link_to category.name, category_operations_path(category), class:"links" %></h3>
          <p class="posts-counter">Total Amount: <%= @total_amount %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="add-button">
    <%= link_to 'add a new category', new_category_path, class: 'new' %>
  </div>
</div>